.center {
    text-align: center;
}

.pixel-art {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    position:relative; 
    bottom:2px;
}
.flex-end {
    display: flex;
    justify-content: end;
}
a {
    font-weight: bold;
}
iframe {
    width: 800px;
    max-width: 100%;
    margin-top: 0px;
    margin-bottom: 2.5rem;
    aspect-ratio: 16/9;
}
.move-gui{ 
    position: absolute;
    left: 1em;
}