.center {
    text-align: center;
}

.pixel-art {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    position:relative; 
    bottom:2px;
}
.flex-end {
    display: flex;
    justify-content: end;
}
a {
    font-weight: bold;
}
iframe {
    width: 800px;
    max-width: 100%;
    margin-top: 0px;
    margin-bottom: 2.5rem;
    aspect-ratio: 16/9;
}

.move-gui {
    position: absolute;
    left: 1em;
}


@media only screen and (min-width: 1000px) {
    canvas {
        margin-left: -100px;
        margin-right: -100px
    }
}


@media only screen and (max-width: 800px) and (orientation: portrait) {
    .move-gui{ 
        position: relative;
    }
}
@media only screen and (max-width: 800px) and (orientation: landscape) {
    .move-gui{
        left: 0em;
    }
    canvas{
        margin: 10px;
    }
} 

#navigation {
    height: 80px
}